* {
  background-color: #34495e;
  color: #ecf0f1;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#app {
  header {
    position: fixed;
    border: 1px solid #ecf0f1;
    nav {
      display: flex;
      flex-direction: column;
    }
  }
}

